<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

    <title>Singer Boot App</title>
</head>

<!--
    Three ways of using a fragment:
        th:replace  - replaces host tag with fragment
        th:insert   - inserts fragment as body of its host tag
        th:include  - inserts the contents of the fragment (not recommended)
-->
<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container">
    <div class="text-left">

        <h1>ProSpring5 Singer Management Boot & Thymeleaf Application</h1>

        <div class="lead">
            Welcome to ProSpring, 5th edition. Maybe not everything that is covered in the book is of interest to you,
            but time spending reading this book and analysing the examples will surely be time well spent.
        </div>

        <div th:insert="~{fragments/footer :: footer}"> 2017 Iuliana Cosmina & Apress</div>
    </div>
</div>
</body>
</html>